<div class="container">
  <nav>
    <ul class="nav_list">
      <li class="nav__item">
        <a class="nav_link" href="/products/">Classes</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/realtimeproducts">Post</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/chat">Help</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/mockingproducts">Extras</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/cart?cid={{cartId}}">Cart</a>
      </li>
      <li class="nav__item">
        <a class="nav_link" href="/api/session/logout">Logout</a>
      </li>
    </ul>
  </nav>

  <div class="cart">
    <div class="cart-header">
      <h2 class="cart-title">Your Cart</h2>
    </div>
    <div class="cart-items">
      {{#if products.length}}
        {{#each products}}
          <div class="cart-item">
            <div class="item-image">
              <img src="{{this.product.image}}" alt="{{this.product.title}}" />
            </div>
            <div class="item-details">
              <h3 class="item-name">{{this.product.title}}</h3>
              <p class="item-description">{{this.product.description}}</p>
              <p class="item-price">${{this.product.price}}</p>
              <p class="item-quantity">Quantity: {{this.quantity}}</p>
            </div>
            <div class="item-actions">
            </div>
          </div>
        {{/each}}
      {{else}}
        <p>Your cart is empty.</p>
      {{/if}}
    </div>
    <div class="cart-actions">
      <button class="checkout-btn" data-cart-id="{{cartId}}">Checkout</button>

      <button class="clear-cart-btn" data-cart-id="{{cartId}}">Clear Cart</button>
    </div>
  </div>
</div>

<script src="/js/cart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>